<h1>Card Pairs</h1>
<div class="row">
  <div class="col-md-12">
    <label class="radio-inline"
           ng-repeat="option in $ctrl.options">
        <input type="radio"
               name="dimensins"
               ng-model="$ctrl.selectedOption"
               ng-change="$ctrl.createBoard(option.dimension)"
               ng-value="option">{{option.title}}
    </label>
  </div>
</div>
<div class="row"
     ng-repeat="row in $ctrl.rows">
  <div class="col-md-12">
    <card ng-repeat="card in row"
          item="card"
          on-flip="$ctrl.flip(card)"></card>
  </div>
</div>